body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.gap {
  height: 1200px;
  background-color: #ccf498;
}
.class-1 {
  height: 200px;
  width: 200px;
  background-color: #025d14;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-2 {
  height: 200px;
  width: 200px;
  background-color: #0649ae;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-3 {
  height: 200px;
  width: 200px;
  background-color: #b40e77;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
